name: CI

on:
  push: ~
  pull_request: ~
  workflow_dispatch: ~

jobs:
  conan:
    runs-on: ubuntu-latest
    env:
      CONAN_USERNAME: dragoonboots
      CONAN_REPO: QSettingsContainer
      CONAN_CHANNEL: testing
      CONAN_PASSWORD: ${{secrets.CONAN_KEY}}
      CONAN_UPLOAD: https://api.bintray.com/conan/dragoonboots/conan-packages
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.x'
      - name: Install package tools
        run: |
          python -m pip install --upgrade pip setuptools wheel
          pip install conan_package_tools
      - name: Build Conan package
        run: python build.py
